{% extends 'base.html' %}

{% block contenido %}


<section class="articles">
            <div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">

                        <div class="content article-body">
                            <p>Hola clase ¿como estan?</p>
							<p>mucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho texto



								hola
							</p>

                        </div>
                        <iframe src="https://duckduckgo.com/search.html?width=250&prefill=Buscar en la web&focus=yes" style="overflow:hidden;margin:0;padding:0;width:308px;height:40px;" frameborder="0"></iframe>
                    </div>
        </div>

{%endblock%}