<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Aplicación Flask</title>
</head>
<body style="background-color:black; color:white">

	<h1 style="color:orange">Bienvenidos a mi aplicación web</h1>

	<a href="{{url_for('inicio')}}">Ir al Inicio</a> <br>
	<a href="{{url_for('about')}}">Ir al Acerca de</a> <br>
	<a href="{{url_for('get_dolar')}}">Ir a Cotizaciones Dolar</a> <br>
	
	<div id="cont_756c8a3e89f3fc1b8bcf3f065c67af8c"><script type="text/javascript" async src="https://www.meteored.com.ar/wid_loader/756c8a3e89f3fc1b8bcf3f065c67af8c"></script></div>
	
	<div>
		<p style="color:blue">Hola clase ¿como estan?</p>
		<p>mucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho <b>textomucho</b> textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho textomucho texto



			hola
		</p>
	</div>

	<ul>
		<li>Elemento 1</li>
		<li style="color:red; background-color:orange">Elemento 2</li>
		<li>Elemento 3</li>
		<li>Elemento 4</li>
	</ul>

	<ol>
		<li>Elemento 1</li>
		<li>Elemento 2</li>
		<li>Elemento 3</li>
		<li>Elemento 4</li>
	</ol>

	<small>texto chiquito</small>

	<iframe src="https://duckduckgo.com/search.html?width=250&prefill=Buscar en la web&focus=yes" style="overflow:hidden;margin:0;padding:0;width:308px;height:40px;" frameborder="0"></iframe>

</body>
</html>